.mainSearchForm {
  margin-top: 15px;
}



*:focus {
    outline: none;
}


#content {
  width: 90%;
  border-radius: 15px;
  border: 1px solid black;
  display: inline-block;
  background-color: #323232;;
  padding-bottom: 10px;
}

body {
  text-align: center;
  background-color: #0f0f0f;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.opened {
  background-color: #C9D6EA
}

.buttons {
  display: none;
  margin-top: 5px;
  font-size: 15px;
  background-color: #0f0f0f;
  color: white;
  border: 1px solid  #15151545;
  height: 25px;
  border-radius: 5px;
}

.windows {
  display: none;
}

iframe {
  border-radius: 25px;
  border: 2px solid #15151535;
}

a {
  text-decoration: underline;
  color: white;
  font-weight: bold;
}

a:visited {
  text-decoration: underline;
  color: white;
  font-weight: bold;
}

#titleSection {
  background-color: #0f0f0f;
  color: white;
}



#search_wrapper {
  position: relative;
}

#search_button{
  position: absolute;
}

#search_field {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 2px solid #15151545;
  border-right: none;
  background-color: #ffffff;
}

.searchBar {
  font-size: 18px;
  width: 50%;
  text-align: left;
  padding: 6px;
  padding-left: 20px;
}

.searchButton {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: none!important;
  background-color: #ffffff;
  text-align: center;
  font-size: 22px;
  width: 50px;
  height: 37px;
  border: 2px solid #15151545;
}